version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=/app/allstrides.db
      - PORT=8080
      - SECRET_KEY=production_secret_key
    volumes:
      - ./allstrides.db:/app/allstrides.db
